.App {
  text-align: center;
}
/* .card-wrapper{
  display: flex;
} */
ul{
  /* width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: rebeccapurple; */
}

.card{
  max-width: 25%;
  min-height: 25vh;
  background-color: white;
  box-shadow: -1px -3px 24px -1px rgba(0,0,0,0.75);
  margin: 10px 20px;
}
img{
  width: 50%;
}